.jumbotron{
    background-image: url("https://i0.wp.com/blogsmedia.lse.ac.uk/blogs.dir/18/files/2019/06/decolonize-library-academic-africa.jpg?fit=1024%2C576&ssl=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%;
    padding-top: 10; 
    text-align: center
}